html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

h1, h2 {
	font-family: "Roboto Slab", serif;
	margin-top: 0;
}


.map-container {
	background:#e1e1e1;
	min-height:500px;
	position: relative;
}

.map-header h2 {
	margin: 0;
}

.map-header {
	margin: 0 0 15px;
}

.map-footer {
	padding: 15px 0;
}

#map-canvas {
	position: absolute !important;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#panel {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}

.no-pad-sides{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.theme-showcase {
	margin-top: 80px;
}

.table-locations {
	min-height: 445px;
}


