html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}


#map-canvas {
	position: absolute !important;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#panel {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}

.no-pad-sides{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.theme-showcase {
	margin-top: 50px;
}